<div class="adM"></div>
<div style="margin: 0px auto; max-width: 480px">
  <div class="adM"></div>
  <table
    role="presentation"
    style="width: 100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    align="center"
  >
    <tbody>
      <tr>
        <td
          style="
            direction: ltr;
            font-size: 0px;
            padding: 0;
            padding-bottom: 20px;
            text-align: center;
          "
        >
          <div
            style="
              font-size: 0px;
              text-align: left;
              direction: ltr;
              display: inline-block;
              vertical-align: top;
              width: 100%;
            "
          >
            <table
              role="presentation"
              width="100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tbody>
                <tr>
                  <td style="vertical-align: top; padding: 0">
                    <table
                      role="presentation"
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                      border="0"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              font-size: 0px;
                              padding: 0;
                              word-break: break-word;
                            "
                            align="left"
                          >
                            <table
                              role="presentation"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                              cellspacing="0"
                              cellpadding="0"
                              border="0"
                            >
                              <tbody>
                                <tr>
                                  <td style="width: 270px">
                                    <a
                                      href="#m_8480525243346423850_m_5428862094428742546_"
                                      rel="noreferrer"
                                    >
                                      <img
                                        alt="blockchain.com logo"
                                        src="https://ci5.googleusercontent.com/proxy/_NYc_k_Ni4b86GxIenn-TlKKaZHZkztn4XM3jUjGtG_XN85JsRnN0vwXK4O3AR5dqIMEEl4YNT-ocPkLv7TDAMICKOjcyQa8-JXcFZ1bjdKZzXP0S38LBFdcIxZnIjwKSvnkNQnwBLmT0_xVU0Q=s0-d-e1-ft#https://static.iterable.com/b077a02c6d894ec28e56236cee81e43a/21-07-08-bcdclogogreyscale.png"
                                        style="
                                          border: 0;
                                          display: block;
                                          outline: none;
                                          text-decoration: none;
                                          height: auto;
                                          width: 100%;
                                          font-size: 13px;
                                        "
                                        class="CToWUd"
                                        data-bit="iit"
                                        width="270"
                                        height="auto"
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  style="
    background: #ffffff;
    background-color: #ffffff;
    margin: 0px auto;
    border-radius: 12px;
    max-width: 480px;
  "
>
  <table
    role="presentation"
    style="
      background: #ffffff;
      background-color: #ffffff;
      width: 100%;
      border-radius: 12px;
    "
    cellspacing="0"
    cellpadding="0"
    border="0"
    align="center"
  >
    <tbody>
      <tr>
        <td
          style="direction: ltr; font-size: 0px; padding: 0; text-align: center"
        >
          <div style="margin: 0px auto; max-width: 480px">
            <table
              role="presentation"
              style="width: 100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 0;
                      padding-bottom: 32px;
                      padding-left: 20px;
                      padding-right: 20px;
                      padding-top: 48px;
                      text-align: center;
                    "
                  >
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td style="vertical-align: top; padding: 0">
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: center;
                                          color: #000000;
                                        "
                                      >
                                        <h1>You‘ve received funds in your Private Key Wallet</h1>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        padding-top: 20px;
                                        word-break: break-word;
                                      "
                                      align="left"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: left;
                                          color: #000000;
                                        "
                                      >
                                        <p>
                                          You’ve received {{amount}} {{t_currency}} into your Private Key Wallet. You can also view this transaction in your transaction history.
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        padding-top: 32px;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <table
                                        role="presentation"
                                        style="
                                          border-collapse: separate;
                                          width: 100%;
                                          line-height: 100%;
                                        "
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              role="presentation"
                                              style="
                                                border: none;
                                                border-radius: 8px;
                                                font-style: normal;
                                                height: 48px;
                                                background: #0c6cf2;
                                              "
                                              valign="middle"
                                              bgcolor="#0C6CF2"
                                              align="center"
                                            >
                                              <a
                                                href="#m_8480525243346423850_m_5428862094428742546_"
                                                style="
                                                  display: inline-block;
                                                  background: #0c6cf2;
                                                  color: #ffffff;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-size: 16px;
                                                  font-style: normal;
                                                  font-weight: 600;
                                                  line-height: 150%;
                                                  margin: 0;
                                                  text-decoration: none;
                                                  text-transform: none;
                                                  padding: 0 15px;
                                                  border-radius: 8px;
                                                "
                                                rel="noreferrer"
                                              >
                                                Log In
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        padding-top: 20px;
                                        word-break: break-word;
                                      "
                                      align="left"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: left;
                                          color: #000000;
                                        "
                                      >
                                        <p>
                                          Best<br />
                                          The Blockchain.com Team
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin: 0px auto; max-width: 480px">
            <table
              role="presentation"
              style="width: 100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 0;
                      padding-bottom: 32px;
                      text-align: center;
                    "
                  >
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td style="vertical-align: top; padding: 0">
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <p
                                        style="
                                          border-top: solid 1px #eeeeee;
                                          font-size: 1px;
                                          margin: 0px auto;
                                          width: 100%;
                                        "
                                      ></p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin: 0px auto; max-width: 480px">
            <table
              role="presentation"
              style="width: 100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 0;
                      padding-bottom: 15px;
                      padding-left: 20px;
                      padding-right: 20px;
                      text-align: center;
                    "
                  >
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td style="vertical-align: top; padding: 0">
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: center;
                                          color: #000000;
                                        "
                                      >
                                        <p>YOUR WALLET ID</p>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: center;
                                          color: #000000;
                                        "
                                      >
                                        <a
                                          href="blockchain.com"
                                          rel="noreferrer"
                                          >{{wallet}}<wbr /></a
                                        >
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin: 0px auto; max-width: 480px">
            <table
              role="presentation"
              style="width: 100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 0;
                      padding-bottom: 20px;
                      padding-left: 50px;
                      padding-right: 50px;
                      text-align: center;
                    "
                  >
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                vertical-align: top;
                                padding: 0;
                                padding-right: 5px;
                                padding-bottom: 5px;
                                padding-left: 5px;
                              "
                            >
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <table
                                        role="presentation"
                                        style="
                                          border-collapse: collapse;
                                          border-spacing: 0px;
                                        "
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td style="width: 138px">
                                              <a
                                                href="#m_8480525243346423850_m_5428862094428742546_"
                                                rel="noreferrer"
                                              >
                                                <img
                                                  alt="download on the app store"
                                                  src="https://ci3.googleusercontent.com/proxy/ORtqm9LHIlB2G-_lTX_eZBxAxkIKQ0XkQMmI3Xa_kwJxjmR-cEa8KSjVCdmsVlWwkrC4VDWBXbMXSBGmokpT9tSDDE9TW_D1Ylwtj2521o0V=s0-d-e1-ft#https://www.blockchain.com/static/img/email/apple-badge@2x.png"
                                                  style="
                                                    border: 0;
                                                    display: block;
                                                    outline: none;
                                                    text-decoration: none;
                                                    height: auto;
                                                    width: 100%;
                                                    font-size: 13px;
                                                  "
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                  width="138"
                                                  height="auto"
                                                />
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                vertical-align: top;
                                padding: 0;
                                padding-right: 5px;
                                padding-bottom: 5px;
                                padding-left: 5px;
                              "
                            >
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="center"
                                    >
                                      <table
                                        role="presentation"
                                        style="
                                          border-collapse: collapse;
                                          border-spacing: 0px;
                                        "
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td style="width: 138px">
                                              <a
                                                href="#m_8480525243346423850_m_5428862094428742546_"
                                                rel="noreferrer"
                                              >
                                                <img
                                                  alt="get it on google play"
                                                  src="https://ci5.googleusercontent.com/proxy/s19_BoDvaIN5pDC0zfFenmSzuskBTzdqWDLoRV4-Bc4nTKwTmVX61sUqEaCfRqYmedbkm_R-ZEmxEs-1eCCd1bcMgnCE6YM5tCwNpzQev-8M_EPP5yVW=s0-d-e1-ft#https://www.blockchain.com/static/img/email/google-play-badge@2x.png"
                                                  style="
                                                    border: 0;
                                                    display: block;
                                                    outline: none;
                                                    text-decoration: none;
                                                    height: auto;
                                                    width: 100%;
                                                    font-size: 13px;
                                                  "
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                  width="138"
                                                  height="auto"
                                                />
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin: 0px auto; max-width: 480px">
            <table
              role="presentation"
              style="width: 100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 0;
                      padding-bottom: 50px;
                      padding-left: 20px;
                      padding-right: 20px;
                      text-align: center;
                    "
                  >
                    <div
                      style="
                        font-size: 0px;
                        text-align: left;
                        direction: ltr;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td style="vertical-align: top; padding: 0">
                              <table
                                role="presentation"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0px;
                                        padding: 0;
                                        word-break: break-word;
                                      "
                                      align="left"
                                    >
                                      <div
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                          font-size: 13px;
                                          line-height: 1;
                                          text-align: left;
                                          color: #000000;
                                        "
                                      >
                                        <p>
                                          Use your unique Wallet ID to log into
                                          your Blockchain wallet.
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="margin: 0px auto; max-width: 480px">
  <table
    role="presentation"
    style="width: 100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    align="center"
  >
    <tbody>
      <tr>
        <td
          style="
            direction: ltr;
            font-size: 0px;
            padding: 0;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 25px;
            text-align: center;
          "
        >
          <div
            style="
              font-size: 0;
              line-height: 0;
              text-align: left;
              display: inline-block;
              width: 100%;
              direction: ltr;
            "
          >
            <div
              style="
                font-size: 0px;
                text-align: left;
                direction: ltr;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
              "
            >
              <table
                role="presentation"
                width="100%"
                cellspacing="0"
                cellpadding="0"
                border="0"
              >
                <tbody>
                  <tr>
                    <td style="vertical-align: middle; padding: 0">
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                              align="left"
                            >
                              <div
                                style="
                                  font-family: Helvetica, Arial, sans-serif;
                                  font-size: 13px;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                <span>© Blockchain.com</span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="yj6qo"></div>
  <div class="adL"></div>
</div>
<div class="adL"></div>
