<div class="aHl"></div>
<div id=":1cr" tabindex="-1"></div>
<div
  id=":1cg"
  class="ii gt"
  jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NzQ0NjkxMTU3MDY4OTU1OSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NzQ0NjkxMTU3MDY4OTU1OSIsbnVsbCxbXV0."
>
  <div id=":1cf" class="a3s aiL">
    <div>
      <div class="adM"></div>
      <div bgcolor="#F2F5F7">
        <div class="adM"></div>
        <div
          style="
            color: #fefefe;
            display: none;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            font-size: 1px;
            line-height: 1px;
            max-height: 0px;
            max-width: 0px;
            opacity: 0;
            overflow: hidden;
          "
        >
          Coinbase makes cryptocurrency easy!
        </div>
        <table
          id="m_-2315404658758714337m_-3714157328728055040m_6628871214965258669main"
          width="100%"
          height="100%"
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <tbody>
            <tr>
              <td
                style="background: #0052ff; padding: 0 15px"
                valign="top"
                bgcolor="#0052FF"
                align="center"
              >
                <table
                  style="
                    margin: 0 auto;
                    table-layout: fixed;
                    border-collapse: collapse !important;
                    max-width: 600px;
                  "
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center">
                        <table
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="padding: 30px 0"
                                valign="top"
                                align="center"
                              >
                                <img
                                  alt="Coinbase"
                                  src="https://ci3.googleusercontent.com/proxy/MmOVZJIGp_NSWWawVG88V0I7F1FQs6O55wg2vxUoLkv2DvRoJUFT0lyJ0mD93SJW8mDijl8N-p_Vp_4msgqpNMUcj9d_fvUmLHs1y1VKiIpM2BoYuCpI7vTrpTf34klqkQ-4250=s0-d-e1-ft#https://static-assets.coinbase.com/email/coinbase-transactional-wordmark-white.png"
                                  class="CToWUd"
                                  data-bit="iit"
                                  width="150"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table
                          style="border-radius: 4px"
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                          bgcolor="#ffffff"
                        >
                          <tbody>
                            <tr>
                              <td height="40"></td>
                            </tr>
                            <tr
                              style="
                                font-family: -apple-system, BlinkMacSystemFont,
                                  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
                                  'Cantarell', 'Fira Sans', 'Droid Sans',
                                  'Helvetica Neue', sans-serif;
                                color: #4e5c6e;
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 20px;
                              "
                            >
                              <td
                                colspan="2"
                                style="padding-left: 40px; padding-right: 40px"
                                valign="top"
                                align="center"
                              >
                                <table
                                  width="100%"
                                  cellspacing="0"
                                  cellpadding="0"
                                  border="0"
                                  bgcolor="#ffffff"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        colspan="2"
                                        cellpadding="3"
                                        valign="bottom"
                                        align="center"
                                      >
                                        <img
                                          alt="Coinbase"
                                          src="https://ci6.googleusercontent.com/proxy/VlFFUHVwQcEPV3SpY4rDLX2WlFDpFLQIF6z39i16CjJEis0L1DtYn4J6237pmodBdy8YXhz9H4nXHdOe4wgVqqwORiaPzGMz2LjJU2djl1VlTAej2Di6kd2NO7369HIquIjmNeYamCvNdUEmjxqrR1oIFK4vn_a2EbsZLF_E_caqzIoEQQ=s0-d-e1-ft#https://www.coinbase.com/assets/app/icon_send-3248e12b0815da107197da06446df006ad9cbb4bf4dbb01871d3a17eb238447c.png"
                                          class="CToWUd"
                                          data-bit="iit"
                                          width="80"
                                        />
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="20"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                        <span
                                          style="
                                            color: #48545d;
                                            font-size: 22px;
                                            line-height: 24px;
                                            display: block;
                                            margin-bottom: 3px;
                                          "
                                        >
                                          You just sent
                                        </span>
                                        <span
                                          style="
                                            color: #8c8e8e;
                                            font-size: 15x;
                                            line-height: 24px;
                                          "
                                        >
                                          0.8 BTC ($44 USD)
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="24"></td>
                                    </tr>
                                    <tr>
                                      <td height="1" bgcolor="#DAE1E9"></td>
                                    </tr>
                                    <tr>
                                      <td height="24"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                        <span>
                                          Congratulations! You have successfully
                                          sent 0.8 BTC to
                                          87iyukjhgg87876r678iyukgjyr67t<wbr />iugjgf78657r7.
                                          You can view transaction details in
                                          your Coinbase account. To facilitate
                                          this transaction, you paid 0.9 BTC
                                          ($89 USD) in network fees.
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="20"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                        <span>
                                          <a
                                            href="https://www.coinbase.com/accounts/77a4c487-bf5a-578c-858d-5811312e6bc3/transactions/db74cf45-39c3-50aa-8b40-714cce947790"
                                            style="
                                              display: block;
                                              font-size: 16px;
                                              padding: 15px 25px;
                                              background-color: #0052ff;
                                              color: #ffffff;
                                              border-radius: 4px;
                                              text-decoration: none;
                                              text-align: center;
                                              font-weight: 400;
                                            "
                                            rel="noreferrer noreferrer"
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.coinbase.com/accounts/77a4c487-bf5a-578c-858d-5811312e6bc3/transactions/db74cf45-39c3-50aa-8b40-714cce947790&amp;source=gmail&amp;ust=1685925971337000&amp;usg=AOvVaw2LYtmTO5XnsfYT2jhxfTCy"
                                          >
                                            View Transaction
                                          </a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="center"><br /></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="40"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table
                          id="m_-2315404658758714337m_-3714157328728055040m_6628871214965258669promo"
                          style="margin-top: 20px"
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td colspan="2" height="20"></td>
                            </tr>
                            <tr>
                              <td colspan="2" align="center">
                                <span
                                  style="
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                    color: #fefefe;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                  "
                                  >Want free Bitcoin? Invite your friends!</span
                                >
                              </td>
                            </tr>
                            <tr>
                              <td
                                colspan="1"
                                style="height: 20px !important"
                                width="50%"
                                height="20"
                                align="center"
                              >
                                <div
                                  style="
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                    margin-top: 15px;
                                    margin-bottom: 20px;
                                    max-width: 400px;
                                    display: inline-block;
                                    color: #fefefe;
                                    font-size: 14px;
                                    line-height: 24px;
                                  "
                                >
                                  Invite friends to Coinbase and you'll both get
                                  $10 worth of Bitcoin when they start investing
                                  using your link.
                                  <div></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td width="100%" valign="top" align="center">
                                <a
                                  href="https://www.coinbase.com/invite?src=mcc1"
                                  rel="noreferrer noreferrer"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://www.coinbase.com/invite?src%3Dmcc1&amp;source=gmail&amp;ust=1685925971337000&amp;usg=AOvVaw25eUTBxEeThzh7-KB55n10"
                                >
                                  Get Started
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2" height="20"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                              <td valign="top" align="center">
                                <span
                                  style="
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                    color: #fefefe;
                                    font-size: 10px;
                                    margin-bottom: 5px;
                                    display: block;
                                  "
                                >
                                  To stop receiving these emails,
                                  <a
                                    href="https://www.coinbase.com/unsubscribe?data=BAh7BzoMdXNlcl9pZFU6E0JTT046Ok9iamVjdElkIhFf5LZ0GUSmE9WHJeY6FXVuc3Vic2NyaWJlX3R5cGU6EnNlbmRfY3VycmVuY3k%3D--6bb18734d41d00acd69157fe86ca611ebbb362d0"
                                    style="color: #fefefe !important"
                                    rel="noreferrer noreferrer"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://www.coinbase.com/unsubscribe?data%3DBAh7BzoMdXNlcl9pZFU6E0JTT046Ok9iamVjdElkIhFf5LZ0GUSmE9WHJeY6FXVuc3Vic2NyaWJlX3R5cGU6EnNlbmRfY3VycmVuY3k%253D--6bb18734d41d00acd69157fe86ca611ebbb362d0&amp;source=gmail&amp;ust=1685925971337000&amp;usg=AOvVaw2OhqTVqAoQ8Op_274JTzJ7"
                                    >unsubscribe from this list</a
                                  >.
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td height="10"></td>
                            </tr>
                            <tr>
                              <td valign="top" align="center">
                                <span
                                  style="
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                    color: #fefefe;
                                    font-size: 10px;
                                    margin-bottom: 5px;
                                    display: block;
                                  "
                                >
                                  <a
                                    href="https://www.coinbase.com/legal/user_agreement?country=NG"
                                    style="
                                      font-family: -apple-system,
                                        BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                        'Oxygen', 'Ubuntu', 'Cantarell',
                                        'Fira Sans', 'Droid Sans',
                                        'Helvetica Neue', sans-serif;
                                      color: #fefefe;
                                      font-size: 10px;
                                      margin-bottom: 5px;
                                      display: block;
                                      text-decoration: underline;
                                    "
                                    rel="noreferrer noreferrer"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://www.coinbase.com/legal/user_agreement?country%3DNG&amp;source=gmail&amp;ust=1685925971337000&amp;usg=AOvVaw0cfhe39QIyIeGFHsEUgMxx"
                                    >Terms of Service</a
                                  >
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" align="center">
                                <span
                                  style="
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                    color: #fefefe;
                                    font-size: 10px;
                                  "
                                  >©
                                  <a
                                    href="https://www.coinbase.com/"
                                    style="
                                      color: #fefefe !important;
                                      text-decoration: none;
                                    "
                                    rel="noreferrer noreferrer"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://www.coinbase.com/&amp;source=gmail&amp;ust=1685925971337000&amp;usg=AOvVaw1XyxkSrQYpP6jvmTPdrNes"
                                    >Coinbase</a
                                  >
                                  2021
                                </span>
                                <br />
                                <span
                                  style="
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                                      'Oxygen', 'Ubuntu', 'Cantarell',
                                      'Fira Sans', 'Droid Sans',
                                      'Helvetica Neue', sans-serif;
                                    color: #fefefe;
                                    font-size: 10px;
                                  "
                                >
                                  Coinbase Europe Limited
                                </span>
                                <br />
                                <span>
                                  70 Sir John Rogerson's Quay | Dublin 2 | D02
                                  R296 | Ireland
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td height="50">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
      <div class="adL"></div>
    </div>
    <div class="adL"></div>
  </div>
</div>
<div id=":1cu" class="ii gt" style="display: none">
  <div id=":1cv" class="a3s aiL"></div>
</div>
<div class="hi"></div>
